/* @media (min-width: 600px) {
    body {
        background-color: aqua;
    }
}

@media (max-width: 600px) {
    body {
        background-color: red;
    }
} */

.container {
    display: grid;
    grid-template-columns: 40% 20% auto;
    grid-template-rows: 200px 50px 100px;
    grid-gap: 20px 10px;
    grid-auto-flow: dense;
}

.item {
    border: 1px solid black;
    padding: 10px;
}

.item3 {
    grid-column-start: 2;
}