body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}
.d-none {
    display: none !important;
}
.main-container {
    display: flex;
}

.left-container {
    width: 100%;
}
.left-container.enable {
    width: 40%;
}

.product-container {
    overflow: auto;
    height: 86vh;
}

.product-item {
    display: flex;
    border-bottom: 1px solid #cfcfcf;
    margin: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
}

.active {
    background-color: #dedede;
}

.product-image {
    width: 4rem;
    height: 4rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.order-date {
    margin-left: auto;
}

.chat-container {
    width: 60%;
    display: none;
    /* height: 50rem;
    background-color: red; */
}

.chat-header {
    display: flex;
    align-items: center;
}

.chat-header-image {
    /* background-image: url("https://rukminim1.flixcart.com/image/300/300/k0vbgy80pkrrdj/speaker/mobile-tablet-speaker/4/n/n/boat-stone-grenade-original-imafg96ffpnpgdv4.jpeg?q=90"); */
    width: 4rem;
    height: 4rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.chat-header-close {
    margin-left: auto;
    padding: 0.5rem;
    cursor: pointer;
}

.msg-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    height: 83vh;
    overflow: auto;
    background-color: #f1f3f6;
}

.msg-container.blank {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-msg {
    width: 100%;
    height: 2.5rem;
}

.chat-text {
    padding: 0.5rem;
    border-radius: 6px;
    margin: 0.5rem 2rem;
}

.user-chat {
    background-color: #027CD5;
    color: white;
}

.system-chat {
    /* background-color: #f1f3f6; */
}