.container {
    width: 500px;
    margin: auto;
}

#searchInput {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

#suggestionArea {
    border: 1px solid red;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    display: none;
}